# 说明: .gitignore是从上往下依次执行命令的，后面的命令会覆盖前面的命令

# 忽略所有文件和文件夹
*

# 不忽略所有文件夹（这一步，只是不忽略文件夹，里面的内容仍被忽略，相当于只有个外壳）
!*/

# 不忽略含以下后缀的文件（而这一步是把上面文件夹中，指定类型的文件设为不忽略）
!*.py
!*.txt
!*.md
!*.png
!*.jpeg
!*.jpg
!*.json
!*.sh
!*.yaml
!*.npz


# 忽略特定文件夹 
# 以（/）开头防止递归，只会忽略当前目录的指定文件夹，不会忽略子目录
# 以（/）结尾表示一个目录
# 开头加/表示从git仓库的目录开始找，开头不加/则表示git仓库的所有匹配的文件

# ignore the work folder in the current directory, not subdir /work 
weights/

# ignore all the .history folder in this git directory including subdir
.ipynb_checkpoints/

!LICENSE
